.footer-nav-container
  %ul{class: "footer-nav"}
    %li
      = link_to "Home", "#"
    %li
      = link_to "About", "#"
    %li{class: "active"}
      = link_to "How it works", "#"
    %li
      = link_to "The shoes", "#"
    %li
      = link_to "The Expert", "#"
    %li
      = link_to "Shipping", "#"
    %li
      = link_to "Terms", "#"
    %li
      = link_to "Contact", "#"