- if user_signed_in?
  Welcome, 
  %b= current_user.full_name
  %p
    Refer user with : 
    = link_to refer_user_url(code: current_user.tracking_code), refer_user_url(code: current_user.tracking_code), target: "_blank"

  %legend My Referrers
  %ul
    - if current_user.referrers.blank?
      %li You dont have any referrers yet
    - else
      - current_user.referrers.each do |referrer|
        %li= referrer.email

- else
  .well
    %legend Subscribe with us
    = form_for @user, url: subscribes_path, as: :post, html: {class: "form-signin"} do |f|
      = f.text_field :email, class: "form-control", placeholder: "Email"

      %br
      = f.submit "Submit", class: "btn btn-lg btn-primary btn-block"

      .social-login
        %a{href: user_omniauth_authorize_path(provider: "facebook"), "data-toggle" => "tooltip", "data-placement" => "bottom", title: "Login Via Facbook", class: "tooltipped fb"}
          %i{class: "fa fa-facebook-square"}
        %a{href: user_omniauth_authorize_path(provider: "twitter"), "data-toggle" => "tooltip", "data-placement" => "bottom", title: "Login Via Twitter", class: "tooltipped"}
          %i{class: "fa fa-twitter"}