- if user_signed_in?
  Welcome, 
  %b= current_user.full_name
  %p
    Refer user with : 
    = link_to refer_user_url(code: current_user.tracking_code), refer_user_url(code: current_user.tracking_code), target: "_blank"

  %legend My Referrers
  %ul
    - if current_user.referrers.blank?
      %li You dont have any referrers yet
    - else
      - current_user.referrers.each do |referrer|
        %li= referrer.email

- else
  .col-md-10.col-md-offset-1.welcome-form
    .col-md-6.welcome-message-block
      %h1 The world's premier shoe society!!
      .message An exclusive shoe collection of irresistible styles at insider prices, handpicked by our fashion experts specially for you.
      .membership Membership by invitation only
    .col-md-6.subscribe-form

      = form_for @user, url: subscribes_path, as: :post, html: {class: "register-form"} do |f|
        %h3{class: "col-md-9"} Request an invite
        .col-md-9
          = f.text_field :email, placeholder: "Email", class: "form-control"
        .col-md-3
          = f.submit "Submit", class: "btn btn-primary btn-block"

      .social-logins
        %a{href: user_omniauth_authorize_path(provider: "facebook"), class: "fb col-md-9"}
          .content
            %i{class: "fa fa-facebook-square"}
            Signup with facebook
        %a{href: user_omniauth_authorize_path(provider: "twitter"), class: "twitter col-md-9"}
          .content
            %i{class: "fa fa-twitter"}
            Signup with twitter
