<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "PreLaunch" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
    

  </head>
  <body class="<%= (!user_signed_in? && params[:controller] == "welcome") ? "body-with-bg" : "" %>">

    <div class="navbar navbar-default navbar-static-top zasny-navbar">
      <div class="container">
        <div class="col-md-12">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">
            <%= image_tag "logo.png", class: "logo-image" %>
          </a>
          
          <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav pull-right">
              <% if user_signed_in? %>
                <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
              <% else %>
                <li><%= link_to "Login", new_user_session_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        
        <%= bootstrap_flash %>
        <%= yield %>
        
      </div><!--/row-->
    </div> <!-- /container -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <%= render partial: "shared/footer" %>
        </div>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
